body{
    font-family: 'Open Sans', sans-serif !important;
}
.container,.left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: 800 !important;
}