body{
    font-family: 'Open Sans', sans-serif !important;
}
.container-fluid,.left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: 800 !important;
}
@media (max-width: 768px) {
    .container-fluid,.left,.display-3{
        height: auto;
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
    }
}